* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  -webkit-tap-highlight-color: transparent;
}
html {
  font-size: 10px;
  scroll-behavior: smooth;
  overflow-x: hidden;
}
body {
  color: white;
  font-family: "Poppins", sans-serif;
  background: linear-gradient(270deg, #373737, #212121);
  background: linear-gradient(45deg, #12c2e9, #c471ed, #f64f59);
  background-image: linear-gradient(45deg, #020e1d 0%, #151141 100%);
  letter-spacing: 2px;
  overflow-x: hidden;
}
a {
  text-decoration: none;
}
img {
  display: block;
}

ul {
  list-style: none;
}
address {
  font-style: normal;
}
:focus {
  outline: none;
}

.header-for-bots {
  display: none;
}

.container {
  margin: 0 auto;
  max-width: 460px;
  padding-left: 15px;
  padding-right: 15px;
}
.container--flex {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
header {
  padding-top: 40px;
}
.logo-link {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50%;
  transition: transform 0.3s;
  &:hover {
    transform: scale(1.1);
  }
}

.logo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  // animation: goAround 7s linear infinite;
}
.header-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.hero__header {
  color: #1500ff;
  font-size: 30px;
  text-align: center;
  font-weight: 700;
}

.hero__content {
  color: rgb(116, 116, 116);
  text-align: center;
  font-size: 16px;
  margin-top: 10px;
  font-weight: 500;
  letter-spacing: 0.2px;
}

@media screen and (min-width: 380px) {
  .hero__header {
    font-size: 40px;
  }
  .hero__content {
    font-size: 16px;
  }
}
@media screen and (min-width: 800px) {
  .container--flex {
    flex-direction: row;
    max-width: 900px;
  }
  .logo {
    width: 60px;
    height: 60px;
  }
  .hero__header {
    font-size: 58px;
  }
  .hero__content {
    font-size: 18px;
  }
}

.btn {
  padding: 20px 40px;
  background-color: #000;
  border: none;
  font-size: 18px;
  position: relative;
  cursor: pointer;
  transition: 300ms;
  width: 270px;
  margin-left: auto;
  margin-right: auto;
}

.btn span {
  color: gray;
  position: relative;
  transition: 300ms;
  transition-delay: 300ms;

  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 600;
  font-size: 20px;
  text-align: center;
}

.btn:before {
  content: "";
  position: absolute;
  width: 0%;
  height: 0%;
  left: 50%;
  right: 50%;
  top: 50%;
  bottom: 50%;
  transition: 300ms;
  transition-delay: 300ms;
  background-color: #1500ff;
  -webkit-box-shadow: 0px 0px 11px 0px #1500ff;
  -moz-box-shadow: 0px 0px 11px 0px #1500ff;
  box-shadow: 0px 0px 11px 0px #1500ff;
}

.btn div {
  transition: 300ms;
  position: absolute;
  background-color: #1500ff;
}

.btn .top {
  width: 15px;
  height: 2px;
  top: 0;
  left: 0;
}

.btn .bottom {
  width: 15px;
  height: 2px;
  bottom: 0;
  right: 0;
}

.btn .left {
  width: 2px;
  height: 15px;
  top: 0;
  left: 0;
}

.btn .right {
  width: 2px;
  height: 15px;
  bottom: 0;
  right: 0;
}

.btn:hover {
  color: #000;
}

.btn:hover span {
  color: #000;
}

.btn:hover:before {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.btn:hover .top,
.btn:hover .bottom {
  width: 100%;
}

.btn:hover .left,
.btn:hover .right {
  height: 100%;
}

.buttons-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
  gap: 20px;
  padding-bottom: 40px;
  &__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 0;
    animation: slideIn 0.5s ease;
    animation-fill-mode: forwards;

    &:nth-child(1) {
      animation-delay: 1.5s;
    }
    &:nth-child(2) {
      animation-delay: 1.7s;
    }
    &:nth-child(3) {
      animation-delay: 1.9s;
    }
    &:nth-child(4) {
      animation-delay: 2.1s;
    }
    &:nth-child(5) {
      animation-delay: 2.3s;
    }
  }

  &__content {
    text-align: center;
    color: rgb(116, 116, 116);
    font-size: 16px;
    font-weight: 700;
    margin-top: 10px;
    z-index: 100;
  }
}
.footer__content {
  text-align: center;
  font-size: 10px;
  color: rgb(116, 116, 116, 0.9);
  margin-bottom: 5px;
}
@keyframes showIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideIn {
  0% {
    transform: translateY(50px) scale(0.5);
    opacity: 0;
  }
  100% {
    transform: translateY(0px) scale(1);
    opacity: 1;
  }
}
header {
  animation: showIn 2s linear;
}
.hero {
  animation: showIn 6s linear;
}
@media screen and (min-width: 340px) {
  .btn {
    width: 300px;
  }
}
